* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #7FA0E5;
    color: #172B3E;
    text-align: center;
}
/* viewport height */
.container{
    height: 70vh; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.7);
    background-color: #C2C9CC;
    font-size: 8vmin;
    color: crimson;

}
.box:hover{
    transform: scale(1.025);
}
.box:active{
    background-color: #9BA3A8;
    transform: scale(1);
}
#resetButton{
    height: 10vmin;
    width: 20vmin;
    border-radius: 3rem;
    padding: 1vmin;
    font-size: 1rem;
    background-color: #172B3E;
    color: #C7DBEF;
    border: none;
}
#resetButton:hover{
    transform: scale(1.28);
}
#resetButton:active{
    transform: scale(1);
}
#newButton{
    height: 10vmin;
    width: 20vmin;
    border-radius: 3rem;
    padding: 1vmin;
    font-size: 1rem;
    background-color: #172B3E;
    color: #C7DBEF;
    border: none;
}
#newButton:hover{
    transform: scale(1.28);
}
#newButton:active{
    transform: scale(1);
}
#mssg{
    font-size: 5vmin;
}
.win-mssg{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}
.hide{display: none;}